<div class="wrapper">
	<%= render 'layouts/topnav' %>
  <%= render 'layouts/sidebar-left' %>
  <%= render 'layouts/sidebar-right' %>

    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

    		<!-- Title -->
    		<div class="row heading-bg  bg-red">
    			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    				<h5 class="txt-light">Registration Details</h5>
    			</div>
    			<!-- Breadcrumb -->
    			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    				<ol class="breadcrumb">
    					<li><a href="#">ID: <%= @registration.id %></a></li>
    				</ol>
    			</div>
    			<!-- /Breadcrumb -->
    		</div>


    	</div>
    	<!-- Footer -->
    	<footer class="footer container-fluid pl-30 pr-30">
    		<div class="row">
    			<div class="col-sm-5">
    				<ul class="footer-link nav navbar-nav">
    					<li class="logo-footer"><a href="#">help</a></li>
    					<li class="logo-footer"><a href="#">terms</a></li>
    					<li class="logo-footer"><a href="#">privacy</a></li>
    				</ul>
    			</div>
    			<div class="col-sm-7 text-right">
    				<p>2016 &copy; Kenny. Pampered by Hencework</p>
    			</div>
    		</div>
    	</footer>
    	<!-- /Footer -->

    </div>
    <!-- /Main Content -->
</div>
<!-- /#wrapper -->
